%div{style:"min-height: 200px; background: #222; margin-top: auto; color: #BBB;"}
    %div{style:"  grid-template-columns: repeat(auto-fill, 220px); grid-gap: 20px 50px; display: grid; padding: 30px 20px; max-width: 1040px; margin: 0 auto;"}
        .column
            %h1.title{style:"color:#FFF"}
                Contactanos
            Telefono:  +527721534945: 
            %a{href: "tel:+527721534945"} Llamar ahora
            %br
            Correo: cactaceas@protonmial.com 
            %a{href: "mailto:cactaceas@protonmial.com"} Enviar Correo ahora
            %br
            Whatsapp: +527721534945
            %a{href:"https://api.whatsapp.com/send?phone=+527721534945"}Enviar Mensaje
            %br
            Siguenos en Facebook
            %br
            %a{href:"http://www.facebook.com/Cacshop"} Seguir en Facebook
        .column
