.container
    .box{style: "width:100%" }
        %table.table.is-fullwidth
            %thead
                %td Producto
                %td Costo
                %td Acciones
            %tbody
                -@shopping_cart.in_shopping_carts.each do |shop|
                    -product = shop.product
                    %tr{id: "#{product.id}"}
                        %td=product.name
                        %td=product.pricing
                        %td=link_to "Eliminar", @product, method: :destroy, data:{confirm: "¿Esta seguro?"}, class:"label label-danger"
            
        .tile
            %b
                Total: $
                =@shopping_cart.total
        = render "payments/buttons"

