%center.box
    %h1.title
        Quienes somos
    %center
        %img(src="https://verdi.mx/wp-content/uploads/tehuacan2_2.jpg" alt="Quienes somos" sizes="" srcset="")/
    

.box{style: "text-align:justify;"}
    .columns
        .column.is-one-quarter{style: "padding-top:5%"}
            %center
                %img(src="https://www.cactusspot.com/wp-content/uploads/2013/11/Invernadero.jpg" alt="Quienes somos" sizes="" srcset="")/
        .column
            %h1    Sobre Cactshop
            %h5.sutitle
                Desde hace mucho, mucho tiempo, los cactus han estado presentes en mi vida, incluso cuando he pasado largas temporadas en el extranjero los cactus han estado conmigo. Ha sido un largo proceso de observación y aprendizaje hasta alcanzar un cierto conocimiento sobre ellos y empezar a reproducirlos.
                %br
                %br
                Desde el principio de la humanidad los cactus han estado presentes en distintas civilizaciones, como objeto de culto, como medio para conectar con el más allá, como materia prima para construir casas y defensas, como alimento, bebida y medicina y, porque no, como objeto de atención plena para la meditación.
                %br
                %br
                Nosotros, en padre.serveo.net, tratamos de conseguir cactus cuyo aspecto no se aleje del que tienen en hábitat, para ello usamos un sustrato básicamente mineral y respetamos el descanso invernal de las plantas en invernadero sin calefacción y sin riego durante al menos dos meses. En esta zona los inviernos son templados y soleados con una temperatura máxima diurna en el invernadero que puede alcanzar los 25º o más y una mínima nocturna que roza los 0º.
                %br
                %br
                Nuestro método de cultivo respeta el crecimiento vegetativo natural de los cactus con la aplicación de abonos y pesticidas químicos sólo en casos extremos, con ello intentamos conseguir plantas fuertes y vigorosas, sin forzar su crecimiento y con aspecto semejante al que presentan en su hábitat, no tratamos de reproducir plantas perfectas. Al principio queríamos cultivar todas aquellas especies bonitas, raras e impresionantes y de moda, pero con el tiempo hemos ido seleccionando las plantas que mejor se adaptan a nuestros métodos y concepto de cultivo.
.box
    .columns{style: "padding-buttom:1rem;paddingLeft:1rem, paddingRight:1rem"}
        .column.is-three-quarters
            .hero
                .container{style:"padding:2 2 2 2"}
                    %h5.sutitle
                        Somos una empresa dedicada a la elaboración y venta de arreglos florales, así como regalos para todo tipo de ocasión.
                        Nos ubicamos en Villahermosa, Tabasco, donde nuestro principal objetivo es darle un toque personal  a sus eventos, celebraciones u ocasiones especiales, mediante diversos arreglos florales naturales.
                        %br
                        %br
                        Trabajamos con personal calificado y profesional que le brindará un trato único y cordial, para escuchar sus peticiones y así satisfacer sus necesidades. Contamos con floristas y diseñadores que satisfacen todo tipo de gustos y requerimientos.
                        Información de la tienda
                        %br
                        %br
                        %center
                            El Decá, Cardonal, Hgo.     
                            %br
                            7721534945
                            %br
                            user@cacshop.fr  
                            
        .column
            %img(src="https://image.maps.api.here.com/mia/1.6/mapview?app_id=xKYCAaddojeTV0InMqV6&app_code=fXuL0Ld1O8ijsPpUsrYmdg&i&c=20.613227,-99.141657&z=16&pip" alt="Mapa Here 1")/
.box
    .columns
        .column{style: "text-align:justify"}
            %center
                %b
                    %h1.title Misión
            %br
            %h5.sutitle
                Crear y diseñar una gran variedad de estilos y productos de alta calidad, buscando tener la excelencia a través del mejoramiento e innovación continua y obtener los beneficios en usted como cliente.
        .column{style: "text-align:justify"}
            %center
                %b 
                    %h1.title Visión
            %br
            %h5.sutitle
                Ser los lideres en la fabricación, creación y diseño de arreglos florales personales, eventos, corporativos e institucionales de alto estilo. Con trabajo en equipo lograr la satisfacción de las necesidades y expectativas en decoración y diseño floral, que los clientes buscan para su evento, ofreciendo productos y servicios de calidad.
        .column{style: "text-align:justify"}
            %center
                %b 
                    %h1.title Valores
            %br
            .columns.is-two-fifths.is-multiline{style:"text-align:center"}
                .column
                    %h5.sutitle
                        •Calidad 
                .column 
                    %h5.sutitle           
                        •Servicio
                .column
                    %h5.sutitle
                        •Responsabilidad
                .column
                    %h5.sutitle
                        •Honestidad
                .column
                    %h5.sutitle 
                        •Puntualidad
                .column
                    %h5.sutitle
                        •Compromiso
.box
                        