Pagar con
=button_to "/pagar", method: :post, class:"button is-warning" do
    =image_tag "https://craftindustryalliance.org/wp-content/uploads/2019/04/PayPal_logo_logotype_emblem.png", style: "width:6rem;height:2rem;"