// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* It is generally better to create a new file per style scope.
	*=require aos/dist/aos.css
*/
@import "bootstrap";
.crop-text-1 {
	-webkit-line-clamp: 1;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
  }
  .crop-text-2 {
	-webkit-line-clamp: 2;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
  }