.container
  .box
    .center(style="text-align: center")
      %h1.title
        = @product.name
    %section.section
      .columns
        .column(style="text-align: center")
          =image_tag @product.avatar.url
          -# %h4.subtitle.is-4
          -#   Producto
        .column
          %h4.subtitle.is-4
            =@product.user.email
          %h4.subtitle.is-4
            Precio:
            %span
              ="$#{@product.pricing}"
          %h4.subtitle.is-4
            Archivos:
            %span 20
          %h4.subtitle.is-4
            Tamaño:
            %span "2gb"
          -# = render(:partial => "in_shopping_carts/form", product: @product )      
          = render 'in_shopping_carts/form', product: @product
    %section.section
      .container
        %h1.title Descripción
        %h2.subtitle
          =@product.description
  -# %p#notice= notice

-# %p
-#   %b Name:
-#   = @product.name
-# %p
-#   %b Pricing:
-#   = @product.pricing
-# %p
-#   %b Description:
-#   = @product.description
-# %p
-#   %b User:
-#   = @product.user

-# = link_to 'Edit', edit_product_path(@product)
-# \|
-# = link_to 'Back', products_path
